<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../public/stylesheets/Rigester.css">
    <!-- -================================== -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>
    <!-- ---------------------------------------------------------------- -->

    <title>Register</title>
</head>

<body>
    <div>

    </div>
    <div class="area">

        <ul class="circles">
            <div id="Login">
                <div class="container" id="container" style="margin-top:50px">
                    <div class="form-container sign-up-container">
                        <div id="formLogin">
                            <!-- <label style="position:absolute; top:20px;left:20px" for="Username" class="">User name :</label> -->
                            <input id="Username" type="text" style="margin:2px 5px 25px 5px" type="text" placeholder="User Name" />
                            <div style="display: flex;justify-content: space-between;">
                                <!-- <label style="position:absolute;top:100px;left:20px" for="FirstName" class="">First name :</label> -->
                                <input id="FirstName" style="margin:2px 5px 25px 5px" type="text" placeholder="first Name" />
                                <!-- <label style="position:absolute;top:100px;left:230px" for="LastName" class="">Last name :</label> -->
                                <input id="LastName" style="margin:2px 5px 25px 5px" type="text" placeholder="Last Name" />
                            </div>
                            <!-- <label style="position:absolute;top:175px;left:20px" for="UserEmail" class="">Email name :</label> -->
                            <input id="UserEmail" style="margin:2px 5px 25px 5px" type="email" placeholder="Email" />
                            <!-- <label style="position:absolute;top:250px;left:20px" for="UserNumber" class="">Number name :</label> -->
                            <input id="UserNumber" style="margin:2px 5px 25px 5px" type="text" placeholder="Number" />
                            <div style="display: flex;justify-content: space-between;">
                                <label style="position:absolute;top:351px;left:50px;background-color: #eee;padding:11px 3px 15px 5px;" for="birth"> Birthday :</label>
                                <input style="margin:2px -30px 25px 10px" type="date" name="birth" id="birth">
                                <!-- <label style="position:absolute;top:330px;left:320px" for="UserGender" class="">User Gender :</label> -->
                                <select id="UserGender" style="margin:2px -40px 25px 63px">
                                    <option value="0">Gender</option>
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>
                                    <option value="3">Other</option>
                                  </select>

                            </div>
                            <div style="display: flex;justify-content: space-between;">
                                <input id="UserPassword" style="margin:2px 5px 25px 5px" type="password" placeholder="Password" />
                                <input id="PasswordVerify" style="margin:2px 5px 25px 5px" type="password" placeholder=" verify Password" />
                            </div>
                            <button id="Submit_User">dfgf</button>
                            <!-- <button id="Submit_User" type="submit">Sign Up</button> -->
                        </div>
                    </div>

                    <div class="overlay-container">
                        <div class="overlay">
                            <div class="overlay-panel overlay-left">
                                <h1>Create Account</h1>
                                <h1>Welcome Back!</h1>
                                <p>To keep connected with us please login with your personal info</p>
                                <button><a href="../Login/LoginPage" style="text-decoration: none;color: #eee">Sign In</a> </button>
                            </div>
                            <div class="overlay-panel overlay-right">
                                <h1>Hello, Friend!</h1>
                                <p>Enter your personal details and start journey with us</p>
                                <button class="ghost" id="signUp">Sign Up</button>
                            </div>
                        </div>
                    </div>
                </div>

                <footer>
                    <p>
                        Created with <i class="fa fa-heart"></i> by
                        <a target="_blank" href="https://florin-pop.com">Florin Pop</a> - Read how I created this and how you can join the challenge
                        <a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">here</a>.
                    </p>
                </footer>





















            </div>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
    <script src="../../public/javascripts/Register.js"></script>
</body>

</html>